{% extends 'main.html' %}
{% block title %}<title>О нас</title>{% endblock %}
{% block keywords %}<meta name="keywords" content="о нас, информация" />{% endblock %}
{% block content %}
</div>
	<!-- about -->
	<div class="about">
		<!-- container -->
		<div class="container">
			<div class="history">
				<div class="col-md-5 history-left">
                    {% load static %}
					<img src="{% static 'images/5.jpg' %}" al="" />
				</div>
				<div class="col-md-7 history-right">
					<h3>Наша история</h3>
					<p>И нет сомнений, что сделанные на базе интернет-аналитики выводы, которые представляют собой яркий пример континентально-европейского типа политической культуры, будут смешаны с не уникальными данными до степени совершенной неузнаваемости, из-за чего возрастает их статус бесполезности. Банальные, но неопровержимые выводы, а также явные признаки победы институционализации, инициированные исключительно синтетически, заблокированы в рамках своих собственных рациональных ограничений.</p>
					<p>Приятно, граждане, наблюдать, как тщательные исследования конкурентов набирают популярность среди определенных слоев населения, а значит, должны быть объявлены нарушающими общечеловеческие нормы этики и морали. Также как повышение уровня гражданского сознания обеспечивает широкому кругу (специалистов) участие в формировании поставленных обществом задач.</p>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="team">
				<h3>Наша команда</h3>
				<div class="team-grids">
					<div class="col-md-3 team-grid">
						<img src="{% static 'images/t1.jpg' %}" al="" />
						<h5>Имя автора 1</h5>
						<p>Автор</p>
					</div>
					<div class="col-md-3 team-grid">
						<img src="{% static 'images/t3.jpg' %}" al="" />
						<h5>Имя автора 2</h5>
						<p>Автор</p>
					</div>
					<div class="col-md-3 team-grid">
						<img src="{% static 'images/t2.jpg' %}" al="" />
						<h5>Имя автора 3</h5>
						<p>Автор</p>
					</div>
					<div class="col-md-3 team-grid">
						<img src="{% static 'images/t4.jpg' %}" al="" />
						<h5>Имя автора 4</h5>
						<p>Автор</p>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
		<!-- //container -->
	</div>
	<!-- //about -->
{% endblock %}