{% extends 'main.html' %}
{% block title %}<title>Контакты</title>{% endblock %}
{% block keywords %}<meta name="keywords" content="Контакты" />{% endblock %}
{% block content %}
<div class="contact">
		<!-- container -->
		<div class="container">
			<div class="contact-grids">
				<h3>Наши адреса</h3>
				<div class="address-grids">
					<div class="col-md-4 address-text">
						<div class="address-grid">
							<h5>пр. Ленина, д. 1,
								<span>Москва, Россия</span>
							</h5>
							<div class="address-info">
								<div class="address-info-left">
									<p>Телефон:</p>
								</div>
								<div class="address-info-left address-info-right">
									<p>+7 495 123 45 67</p>
								</div>
								<div class="clearfix"> </div>
							</div>
							<div class="address-info">
								<div class="address-info-left">
									<p>Факс:</p>
								</div>
								<div class="address-info-left address-info-right">
									<p>8-000-1234567</p>
								</div>
								<div class="clearfix"> </div>
							</div>
							<div class="e-mail">
								<p>E-mail: <a href="mailto:example@email.com">example@example.com</a></p>
							</div>
						</div>
					</div>
					<div class="col-md-4 address-text">
						<div class="address-grid">
							<h5>пр. Ленина, д. 2,
								<span>Новосибирск, Россия</span>
							</h5>
							<div class="address-info">
								<div class="address-info-left">
									<p>Телефон:</p>
								</div>
								<div class="address-info-left address-info-right">
									<p>+7 383 123 45 67</p>
								</div>
								<div class="clearfix"> </div>
							</div>
							<div class="address-info">
								<div class="address-info-left">
									<p>Факс:</p>
								</div>
								<div class="address-info-left address-info-right">
									<p>8-000-1234567</p>
								</div>
								<div class="clearfix"> </div>
							</div>
							<div class="e-mail">
								<p>E-mail: <a href="mailto:novosibirsk@email.com">novosibirsk@example.com</a></p>
							</div>
						</div>
					</div>
					<div class="col-md-4 address-text">
						<div class="address-grid">
							<h5>пр. Ленина, д. 3,
								<span>Краснодар, Россия</span>
							</h5>
							<div class="address-info">
								<div class="address-info-left">
									<p>Телефон:</p>
								</div>
								<div class="address-info-left address-info-right">
									<p>+7 861 123 45 67</p>
								</div>
								<div class="clearfix"> </div>
							</div>
							<div class="address-info">
								<div class="address-info-left">
									<p>Факс:</p>
								</div>
								<div class="address-info-left address-info-right">
									<p>8-000-1234567</p>
								</div>
								<div class="clearfix"> </div>
							</div>
							<div class="e-mail">
								<p>E-mail: <a href="mailto:krasnodar@email.com">krasnodar@example.com</a></p>
							</div>
						</div>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="contact-form">
					<h3>Связаться с нами</h3>
					<form>
						<input type="text" placeholder="Имя" required="">
						<input type="text" placeholder="E-mail" required="">
						<input type="text" placeholder="Тема" required="">
						<textarea placeholder="Сообщение" required=""></textarea>
						<input type="submit" value="Отправить">
					</form>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
    <!-- //container -->
</div>
{% endblock %}