{% extends 'main.html' %}
{% block title %}<title>Сайт посвященный птицам</title>{% endblock %}
{% block content %}
<div class="gallery">
		<!-- container -->
		<div class="container">
			<div class="gallery-info">
				<h3>Наша галерея</h3>
				<p>Мы вынуждены отталкиваться от того, что убеждённость некоторых оппонентов влечет за собой процесс внедрения и модернизации позиций, занимаемых участниками в отношении поставленных задач.</p>
			</div>
            {% load static %}
			<div class="portfolio-mian">
					<div class="portfolio-top">
								<div class="col-md-3 port-1-left">
									<div class="portfolio app mix_all" data-cat="app" style="display: inline-block; opacity: 1;">
										<div class="portfolio-wrapper ">
											<a href="{% static 'images/port-3.jpg' %}" class="b-link-stripe b-animate-go  swipebox" title="">
										     <img src="{% static 'images/port-3.jpg' %}"><div class="b-wrapper"><h2 class="b-animate b-from-left prt-1  b-delay03 ">Фотография 1</h2>
										  	 </div></a>
										</div>
									</div>
									<div class="portfolio app mix_all" data-cat="app" style="display: inline-block; opacity: 1;">
										<div class="portfolio-wrapper p-5">
											<a href="{% static 'images/port-5.jpg' %}" class="b-link-stripe b-animate-go  swipebox" title="">
										     <img src="{% static 'images/port-5.jpg' %}"><div class="b-wrapper"><h2 class="b-animate b-from-left  prt-2  b-delay03 ">Фотография 2</h2>
										  	 </div></a>
			                			</div>
			                		</div>
									<div class="portfolio app mix_all" data-cat="app" style="display: inline-block; opacity: 1;">
										<div class="portfolio-wrapper p-5">
											<a href="{% static 'images/port-8.jpg' %}" class="b-link-stripe b-animate-go  swipebox" title="">
										     <img src="{% static 'images/port-8.jpg' %}"><div class="b-wrapper"><h2 class="b-animate b-from-left  prt-2  b-delay03 ">Фотография 3</h2>
										  	 </div></a>
			                			</div>
			                		</div>
									<div class="portfolio app mix_all" data-cat="app" style="display: inline-block; opacity: 1;">
										<div class="portfolio-wrapper p-5">
											<a href="{% static 'images/port-9.jpg' %}" class="b-link-stripe b-animate-go  swipebox" title="">
										     <img src="{% static 'images/port-9.jpg' %}"><div class="b-wrapper"><h2 class="b-animate b-from-left  prt-2  b-delay03 ">Фотография 4</h2>
										  	 </div></a>
			                			</div>
			                		</div>
								</div>
								<div class="col-md-3 port-1-right">
									<div class="portfolio app mix_all" data-cat="app" style="display: inline-block; opacity: 1;">
										<div class="portfolio-wrapper">
											<a href="{% static 'images/port-4.jpg' %}" class="b-link-stripe b-animate-go   swipebox" title="">
										     <img src="{% static 'images/port-4.jpg' %}"><div class="b-wrapper"><h2 class="b-animate b-from-left prt-3   b-delay03 ">Фотография 5</h2>
										  	 </div></a>
			                			</div>
			                		</div>
									<div class="portfolio app mix_all" data-cat="app" style="display: inline-block; opacity: 1;">
										<div class="portfolio-wrapper p-5">
											<a href="{% static 'images/port-6.jpg' %}" class="b-link-stripe b-animate-go   swipebox" title="">
										     <img src="{% static 'images/port-6.jpg' %}"><div class="b-wrapper"><h2 class="b-animate b-from-left prt-3   b-delay03 ">Фотография 6</h2>
										  	 </div></a>
			                			</div>
			                		</div>
									<div class="portfolio app mix_all" data-cat="app" style="display: inline-block; opacity: 1;">
										<div class="portfolio-wrapper p-5">
											<a href="{% static 'images/port-7.jpg' %}" class="b-link-stripe b-animate-go   swipebox" title="">
										     <img src="{% static 'images/port-7.jpg' %}"><div class="b-wrapper"><h2 class="b-animate b-from-left prt-3   b-delay03 ">Фотография 7</h2>
										  	 </div></a>
			                			</div>
			                		</div>
									<div class="portfolio app mix_all" data-cat="app" style="display: inline-block; opacity: 1;">
										<div class="portfolio-wrapper p-5">
											<a href="{% static 'images/port-2.jpg' %}" class="b-link-stripe b-animate-go   swipebox" title="">
										     <img src="{% static 'images/port-2.jpg' %}"><div class="b-wrapper"><h2 class="b-animate b-from-left prt-3   b-delay03 ">Фотография 8</h2>
										  	 </div></a>
			                			</div>
			                		</div>
								</div>
								<div class="col-md-3 portfolio-right">
									<div class="portfolio app mix_all" data-cat="app" style="display: inline-block; opacity: 1;">
										<div class="portfolio-wrapper">
											<a href="{% static 'images/port-2.jpg' %}" class="b-link-stripe b-animate-go   swipebox" title="">
										     <img src="{% static 'images/port-2.jpg' %}"><div class="b-wrapper"><h2 class="b-animate b-from-left prt-4   b-delay03 ">Фотография 9</h2>
										  	 </div></a>
			                			</div>
			                		</div>
									<div class="portfolio app mix_all" data-cat="app" style="display: inline-block; opacity: 1;">
										<div class="portfolio-wrapper p-5">
											<a href="{% static 'images/port-7.jpg' %}" class="b-link-stripe b-animate-go   swipebox" title="">
										     <img src="{% static 'images/port-7.jpg' %}"><div class="b-wrapper"><h2 class="b-animate b-from-left  prt-5  b-delay03 ">Фотография 10</h2>
										  	 </div></a>
			                			</div>
			                		</div>
									<div class="portfolio app mix_all" data-cat="app" style="display: inline-block; opacity: 1;">
										<div class="portfolio-wrapper p-5">
											<a href="{% static 'images/port-3.jpg' %}" class="b-link-stripe b-animate-go   swipebox" title="">
										     <img src="{% static 'images/port-3.jpg' %}"><div class="b-wrapper"><h2 class="b-animate b-from-left  prt-5  b-delay03 ">Фотография 11</h2>
										  	 </div></a>
			                			</div>
			                		</div>
									<div class="portfolio app mix_all" data-cat="app" style="display: inline-block; opacity: 1;">
										<div class="portfolio-wrapper p-5">
											<a href="{% static 'images/port-5.jpg' %}" class="b-link-stripe b-animate-go   swipebox" title="">
										     <img src="{% static 'images/port-5.jpg' %}"><div class="b-wrapper"><h2 class="b-animate b-from-left  prt-5  b-delay03 ">Фотография 12</h2>
										  	 </div></a>
			                			</div>
			                		</div>
								</div>
								<div class="col-md-3 port-1-right portfolio-last">
									<div class="portfolio app mix_all" data-cat="app" style="display: inline-block; opacity: 1;">
										<div class="portfolio-wrapper">
											<a href="{% static 'images/port-9.jpg' %}" class="b-link-stripe b-animate-go   swipebox" title="">
										     <img src="{% static 'images/port-9.jpg' %}"><div class="b-wrapper"><h2 class="b-animate b-from-left prt-3   b-delay03 ">Фотография 13</h2>
										  	 </div></a>
			                			</div>
			                		</div>
									<div class="portfolio app mix_all" data-cat="app" style="display: inline-block; opacity: 1;">
										<div class="portfolio-wrapper p-5">
											<a href="{% static 'images/port-8.jpg' %}" class="b-link-stripe b-animate-go   swipebox" title="">
										     <img src="{% static 'images/port-8.jpg' %}"><div class="b-wrapper"><h2 class="b-animate b-from-left prt-3   b-delay03 ">Фотография 14</h2>
										  	 </div></a>
			                			</div>
			                		</div>
									<div class="portfolio app mix_all" data-cat="app" style="display: inline-block; opacity: 1;">
										<div class="portfolio-wrapper p-5">
											<a href="{% static 'images/port-4.jpg' %}" class="b-link-stripe b-animate-go   swipebox" title="">
										     <img src="{% static 'images/port-4.jpg' %}"><div class="b-wrapper"><h2 class="b-animate b-from-left prt-3   b-delay03 ">Фотография 15</h2>
										  	 </div></a>
			                			</div>
			                		</div>
									<div class="portfolio app mix_all" data-cat="app" style="display: inline-block; opacity: 1;">
										<div class="portfolio-wrapper p-5">
											<a href="{% static 'images/port-6.jpg' %}" class="b-link-stripe b-animate-go   swipebox" title="">
										     <img src="{% static 'images/port-6.jpg' %}"><div class="b-wrapper"><h2 class="b-animate b-from-left prt-3   b-delay03 ">Фотография 16</h2>
										  	 </div></a>
			                			</div>
			                		</div>
								</div>
								<div class="clearfix"></div>
					</div>
				</div>
				<link rel="stylesheet" href="css/swipebox.css">
				<script src="js/jquery.swipebox.min.js"></script>
			    <script type="text/javascript">
					jQuery(function($) {
						$(".swipebox").swipebox();
					});
				</script>
		</div>
		<!-- //container -->
	</div>
{% endblock %}