<!DOCTYPE html>
<html>
<head>
{% block title %}<title>Сайт про птиц</title>{% endblock %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
{% block keywords %}<meta name="keywords" content="птицы, сайт птицы" />{% endblock %}
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- bootstarp-css -->
{% load static %}
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
<!--// bootstarp-css -->
<!-- css -->
<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all" />
<!--// css -->
<script src="js/jquery.min.js"></script>
<!--fonts-->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,800,700,600' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
<!--/fonts-->
<link href="favicon.png" rel="shortcut icon" type="image/x-icon" />
</head>
<body>
	<div class="banner">
			<div class="banner-grids">
				<div class="banner-grid-left">
					<div class="header-logo">
						<a href="index.html"><img src="{% static 'images/logo.png' %}" alt="" /></a>
					</div>
					<div class="top-nav">
							<ul class="cl-effect-1">
								<li><a href="{% url 'index' %}">Главная</a></li>
								<li><a href="{% url 'about' %}">О нас</a></li>
								<li><a href="{% url 'blog' %}">Блог</a></li>
								<li><a href="{% url 'contacts' %}">Контакты</a></li>
							</ul>
					</div>
				</div>
				<div class="banner-grid-info">
					<div class="social-icons">
						<ul>
							<li><a href="#" class="facebook"></a></li>
							<li><a href="#" class="facebook twitter"></a></li>
							<li><a href="#" class="facebook dribble"></a></li>
						</ul>
					</div>

	</div>
	<!-- gallery -->
	<div class="gallery">
		{% block content %}{% endblock %}
	</div>
		<!-- //container -->
	</div>
	<!-- footer -->
	<div class="footer">
		<!-- container -->
		<div class="container">
			<div class="footer-top">
				<div class="footer-logo">
					<a href="index.html"><img src="{% static 'images/f-logo.png' %}" alt="" /></a>
				</div>
				<div class="footer-nav">
					<ul>
						<li><a href="about.html">О нас</a></li>
						<li><a href="blog.html">Блог</a></li>
						<li><a href="contact.html">Контакты</a></li>
					</ul>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="footer-bottom">
				<div class="col-md-3 footer-left">
					<h3>О нас</h3>
					<p>Как уже неоднократно упомянуто, независимые государства, превозмогая сложившуюся непростую экономическую ситуацию, рассмотрены исключительно в разрезе маркетинговых и финансовых предпосылок.</p>
				</div>
				<div class="col-md-3 posts">
					<h3>Последние статьи</h3>
					<div class="post-info">
						<a href="single.html">Статья 3</a>
						<p>25 апреля 2025</p>
					</div>
					<div class="post-info">
						<a href="single.html">Статья 2</a>
						<p>15 марта 2025</p>
					</div>
					<div class="post-info">
						<a href="single.html">Статья 1</a>
						<p>25 февраля 2025</p>
					</div>
				</div>
				<div class="col-md-3 comments">
					<h3>Комментарии</h3>
					<p><a href="single.html">Сторонники информации в науке будут рассмотрены исключительно...</a></p>
					<p><a href="single.html">Очень интересно!</a></p>
					<p><a href="single.html">Стремящиеся вытеснить традиционное производство, нанотехнологии...</a></p>
				</div>
				<div class="col-md-3 address">
					<h4>Адрес</h4>
					<ul>
						<li>ООО Моя компания,</li>
						<li>г. Москва, пр. Ленина, д. 1,</li>
						<li>Россия</li>
						<li>Телефон: +7 (495) 123 45 67</li>
						<li>Факс: 8-000-1234567</li>
						<li><a href="mailto:example@example.com">example@example.com</a></li>
					</ul>
				</div>
				<div class="clearfix"> </div>
				<div class="copyright">
					<p>Copyrights © 2025 Birds. Все права защищены.</p>
				</div>
			</div>
		</div>
		<!-- //container -->
	</div>
	<!-- //footer -->
	</div>
</body>
</html>