{% extends 'main.html' %}
{% block title %}<title>Статья 1</title>{% endblock %}
{% block keywords %}<meta name="keywords" content="Статья 1" />{% endblock %}
{% block content %}
	<!-- blog -->
	<div class="blog">
		<!-- container -->
		<div class="container">
			<div class="col-md-9 blog-grids">
				<div class="blog-left single-left">
					<h4>Статья 1</h4>
					{% load static %}
					<img src="{% static 'images/b3.jpg' %}" alt="" />
					<h5>Подзаголовок статьи</h5>
					{% load my_filters %}
					<p class="likes">Размещено <span>{{ single.date|converter_date }}</span> (автор Иван Иванов) / 2 комментария</p>
					<p>Банальные, но неопровержимые выводы, а также активно развивающиеся страны третьего мира, превозмогая сложившуюся непростую экономическую ситуацию, ограничены исключительно образом мышления. Современные технологии достигли такого уровня, что современная методология разработки говорит о возможностях первоочередных требований.</p>
					<p>Имеется спорная точка зрения, гласящая примерно следующее: реплицированные с зарубежных источников, современные исследования формируют глобальную экономическую сеть и при этом - превращены в посмешище, хотя само их существование приносит несомненную пользу обществу. В рамках спецификации современных стандартов, действия представителей оппозиции призывают нас к новым свершениям, которые, в свою очередь, должны быть ассоциативно распределены по отраслям.</p>
				</div>
				<div class="single-grids">
					<h2>Комментарии (2)</h2>
					<div class="single-comment">
						<div class="col-md-10 single-comment-right">
							<h6><b>3 февраля,2025 / Иван</b></h6>
							<p>Очень интересно!</p>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="single-comment">
						<div class="col-md-10 single-comment-right">
							<h6><b>3 февраля,2025 / Пётр</b></h6>
							<p>Стремящиеся вытеснить традиционное производство, нанотехнологии, а также некоторые особенности внутренней политики являются только методом политического участия и функционально разнесены на независимые элементы. Предприниматели в сети интернет набирают популярность среди определенных слоев населения, а значит, должны быть ассоциативно распределены по отраслям. С учётом сложившейся международной обстановки, внедрение современных методик обеспечивает широкому кругу (специалистов) участие в формировании благоприятных перспектив. Лишь многие известные личности ассоциативно распределены по отраслям. Некоторые особенности внутренней политики могут быть ассоциативно распределены по отраслям.</p>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
				<div class="single-reply">
					<h4>Написать комментарий</h4>
					<form>
						<input type="text" placeholder="Имя" required="">
						<input class="name" type="text" placeholder="E-mail" required="">
						<textarea placeholder="Комментарий" required=""></textarea>
						<input type="submit" value="Отправить">
					</form>
				</div>
			</div>
			<div class="col-md-3 sidebar">
				<h5>Поиск по блогу</h5>
				<div class="search">
				  <form>
					<input type="text" value="Введите строку поиска..." onfocus="this.value='';" onblur="if (this.value == '') {this.value ='';}">
					<input type="submit" value="">
				  </form>
				</div>
				<div class="sidebar-bottom">
					<h5>Архив</h5>
					<ul>
						<li><a href="#">Февраль 2025</a></li>
						<li><a href="#">Январь 2025</a></li>
						<li><a href="#">Декабрь 2025</a></li>
						<li><a href="#">Ноябрь 2025</a></li>
						<li><a href="#">Октябрь 2025</a></li>
						<li><a href="#">Сентябрь 2025</a></li>
					</ul>
				</div>
				<div class="sidebar-last">
					<h5>Галерея</h5>
					<ul>
						<li><a href="images/p1.jpg"><img src="{% static 'images/p1.jpg' %}" alt="" ></a></li>
						<li><a href="images/p2.jpg"><img src="{% static 'images/p2.jpg' %}" alt="" ></a></li>
						<li><a href="images/p3.jpg"><img src="{% static 'images/p3.jpg' %}" alt="" ></a></li>
					</ul>
					<ul>
						<li><a href="images/p2.jpg"><img src="{% static 'images/p2.jpg' %}" alt="" ></a></li>
						<li><a href="images/p3.jpg"><img src="{% static 'images/p3.jpg' %}" alt="" ></a></li>
						<li><a href="images/p1.jpg"><img src="{% static 'images/p1.jpg' %}" alt="" ></a></li>
					</ul>
					<ul>
						<li><a href="images/p3.jpg"><img src="{% static 'images/p3.jpg' %}" alt="" ></a></li>
						<li><a href="images/p1.jpg"><img src="{% static 'images/p1.jpg' %}" alt="" ></a></li>
						<li><a href="images/p2.jpg"><img src="{% static 'images/p2.jpg' %}" alt="" ></a></li>
					</ul>
					</ul>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
		<!-- //container -->
	</div>
	<!-- //blog -->
	<!-- footer -->
	<div class="footer">
		<!-- container -->
		<div class="container">
			<div class="footer-top">
				<div class="footer-logo">
					<a href="index.html"><img src="{% static 'images/f-logo.png' %}" alt="" /></a>
				</div>
				<div class="footer-nav">
					<ul>
						<li><a href="about.html">О нас</a></li>
						<li><a href="blog.html">Блог</a></li>
						<li><a href="contact.html">Контакты</a></li>
					</ul>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="footer-bottom">
				<div class="col-md-3 footer-left">
					<h3>О нас</h3>
					<p>Как уже неоднократно упомянуто, независимые государства, превозмогая сложившуюся непростую экономическую ситуацию, рассмотрены исключительно в разрезе маркетинговых и финансовых предпосылок.</p>
				</div>
				<div class="col-md-3 posts">
					<h3>Последние статьи</h3>
					<div class="post-info">
						<a href="single.html">Статья 3</a>
						<p>25 апреля 2025</p>
					</div>
					<div class="post-info">
						<a href="single.html">Статья 2</a>
						<p>15 марта 2025</p>
					</div>
					<div class="post-info">
						<a href="single.html">Статья 1</a>
						<p>25 февраля 2025</p>
					</div>
				</div>
				<div class="col-md-3 comments">
					<h3>Комментарии</h3>
					<p><a href="single.html">Сторонники информации в науке будут рассмотрены исключительно...</a></p>
					<p><a href="single.html">Очень интересно!</a></p>
					<p><a href="single.html">Стремящиеся вытеснить традиционное производство, нанотехнологии...</a></p>
				</div>
				<div class="col-md-3 address">
					<h3>Адрес</h4>
					<ul>
						<li>ООО Моя компания,</li>
						<li>г. Москва, пр. Ленина, д. 1,</li>
						<li>Россия</li>
						<li>Телефон: +7 (495) 123 45 67</li>
						<li>Факс: 8-000-1234567</li>
						<li><a href="mailto:example@example.com">example@example.com</a></li>
					</ul>
				</div>
				<div class="clearfix"> </div>
				<div class="copyright">
					<p>Copyrights © 2025 Birds. Все права защищены.</p>
				</div>
			</div>
		</div>
		<!-- //container -->
{% endblock %}